/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(/images/cover-image-dark.png);
  --main-title-color: #DB00FF;
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --subtitle-text-color: #000028;
  --font-family: 'IBM Plex Mono', monospace;
  --font-size: 18px;
}
